<!DOCTYPE html>
<html>
<head>
<title>Doctor - Index</title>
<link rel="stylesheet" type="text/css" href="../../content/css/main.css">
<link rel="stylesheet" type="text/css" href="../../content/css/modals.css">
<link rel="stylesheet" type="text/css" href="../../content/css/navigation.css">
<script src="../../scripts/addons/angular.min.js"></script>
</head>
<body>

<div id="layoutHeader">
    <h1>FPMS</h1>
    <h3>(Family Physician Management System)</h3>
</div>

<div id="layoutBody" ng-app="mainApp" ng-controller = "editDoctorController">
    <nav id="mainNavigation">
        <ul>
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="../doctor/index.html">Doctors</a></li>
            <li><a href="../patient/index.html">Patients</a></li>
        </ul>
    </nav>

    <div id="content" class="contentMargins">
        <form novalidate>
            Type:<br>
            <input type="text" ng-model="doctor.type"><br>
            First Name:<br>
            <input type="text" ng-model="doctor.firstName"><br>
            Last Name:<br>
            <input type="text" ng-model="doctor.lastName"><br>
            Address:<br>
            <input type="text" ng-model="doctor.address"><br>
            City:<br>
            <input type="text" ng-model="doctor.city"><br>
            State:<br>
            <select ng-model="doctor.state" ng-options="state.abbreviation for state in states.states" ng-init="doctor.state = states.states[initialSelectedStateIndex]">
            </select><br/>
            Zip:<br>
            <input type="text" ng-model="doctor.zip"><br>
            Phone Number:<br>
            <input type="text" ng-model="doctor.phoneNumber">
            <br><br>
            <button ng-click="saveDoctor()">Save Patient Information</button>
        </form>
    </div>
</div>

<div id="layoutFooter">

</div>

<script src="../../scripts/addons/jquery-3.1.0.min.js"></script>
<script src="../../scripts/controllers/doctorcontroller.js"></script>

</body>
</html>