<!DOCTYPE html>
<html>
<head>
<title>Doctor - Index</title>
<link rel="stylesheet" type="text/css" href="../../content/css/main.css">
<link rel="stylesheet" type="text/css" href="../../content/css/modals.css">
<link rel="stylesheet" type="text/css" href="../../content/css/navigation.css">
<script src="../../scripts/addons/angular.min.js"></script>
</head>
<body>

<div id="layoutHeader">
    <h1>FPMS</h1>
    <h3>(Family Physician Management System)</h3>
</div>

<div id="layoutBody" ng-app="mainApp" ng-controller = "newPatientController" >
    <nav id="mainNavigation">
        <ul>
            <li><a href="../home/index.html">Home</a></li>
            <li><a href="../doctor/index.html">Doctors</a></li>
            <li><a href="../patient/index.html">Patients</a></li>
        </ul>
    </nav>

    <div id="content" class="contentMargins">
        <form novalidate>
            Social Security Number:<br>
            <input type="text" ng-model="patient.ssn"><br>
            First Name:<br>
            <input type="text" ng-model="patient.firstName"><br>
            Last Name:<br>
            <input type="text" ng-model="patient.lastName"><br>
            Gender:<br>
            <input type="text" ng-model="patient.gender"><br>
            Address:<br>
            <input type="text" ng-model="patient.address"><br>
            City:<br>
            <input type="text" ng-model="patient.city"><br>
            State:<br>
            <input type="text" ng-model="patient.state"><br>
            Zip:<br>
            <input type="text" ng-model="patient.zip"><br>
            Phone Number:<br>
            <input type="text" ng-model="patient.phoneNumber"><br>
            Insurance Provider:<br>
            <input type="text" ng-model="patient.insuranceProvider"><br>
            Insurance Provider Number:<br>
            <input type="text" ng-model="patient.insuranceProviderNumber"><br>
            Physician:<br>
            <input type="text" ng-model="patient.physician">
            <br><br>
            <button ng-click="savePatient()">Save Patient Information</button>
        </form>
    </div>
</div>

<div id="layoutFooter">

</div>

<script src="../../scripts/addons/jquery-3.1.0.min.js"></script>
<script src="../../scripts/controllers/patientcontroller.js"></script>

</body>
</html>